@model PiecebyPiece.Models.mUSER

@{
    ViewData["Title"] = "Sign Up";
}



<div class="box-body">
    <div class="text-center">
        <h1 class="display-4" style="padding-bottom:50px">Sign Up</h1>
    </div>

    <form asp-action="SignUp" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <!-- First Name -->
            <div class="col-md-6 mb-3">
                <div class="form-floating">
                    <input asp-for="userName" class="form-control" id="floatingName" placeholder="Name" />
                    <label asp-for="userName" for="floatingName">First Name</label>
                </div>
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>

            <!-- Surname -->
            <div class="col-md-6 mb-3">
                <div class="form-floating">
                    <input asp-for="userSurname" class="form-control" id="floatingSurname" placeholder="Surname" />
                    <label asp-for="userSurname" for="floatingSurname">Surname</label>
                </div>
                <span asp-validation-for="userSurname" class="text-danger"></span>
            </div>
        </div>

        <!-- Email -->
        <div class="form-floating mb-3">
            <input asp-for="userEmail" class="form-control" id="floatingEmail" placeholder="name@example.com" />
            <label asp-for="userEmail" for="floatingEmail">Email</label>
            <span asp-validation-for="userEmail" class="text-danger"></span>
        </div>

        <div class="row">
            <!-- Password -->
            <div class="col-md-6 mb-3">
                <div class="form-floating">
                    <input asp-for="userPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password" />
                    <label asp-for="userPassword" for="floatingPassword">Password</label>
                </div>
                <span asp-validation-for="userPassword" class="text-danger"></span>
            </div>

            <!-- Confirm Password -->
            <div class="col-md-6 mb-3">
                <div class="form-floating">
                    <input asp-for="userConfirmPassword" type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" />
                    <label asp-for="userConfirmPassword" for="floatingConfirmPassword">Confirm Password</label>
                </div>
                <span asp-validation-for="userConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <!-- Photo -->
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <label asp-for="userPhoto" class="me-2 fw-semibold" style="white-space: nowrap;">
                    Upload Profile : 
                </label>

                <input asp-for="userPhoto"
                       type="file"
                       accept="image/*"
                       class="form-control" />
            </div>

            <span asp-validation-for="userPhoto" class="text-danger"></span>
        </div>


        <span asp-validation-for="userPhoto" class="text-danger"></span>



        <!-- Register Button -->
        <center><button type="submit" class="btn btn-yellow">Sign Up</button></center>

    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
