@{
    ViewData["Title"] = "Success";
}

<center>
    <center><span class="header-title">Sign up Successfully!</span></center>
    <hr />
    <h5>Want to support us?</h5>
    <img src="~/images/qrcode.jpg" style="width:50%">
</center>

<center>
    <div style="padding:50px">
        <a href="@Url.Action("CourseLibrary", "cUserPersp")" type="button" class="btn btn-yellow"> Let's go to My Course <i class="bi bi-arrow-right"></i> </a>
    </div>
</center>
