@model PiecebyPiece.Models.mQUESTION

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}



<center><span class="header-title">Create Question</span></center>



<div class="row">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="testID" />

        <div class="box-body-sm">
            <div class="row">
                @if (ViewData["LessonName"] is string lessonName)
                {
                    <div class="form-group">
                        <label class="control-label">Create question in lesson's test</label>
                        <input type="text" class="form-control" value="@lessonName" readonly />
                        <input type="hidden" name="LessonID" value="@ViewData["LessonID"]" />
                    </div>
                }
            </div>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="questionText" class="control-label">Question Title</label>
                        <textarea asp-for="questionText" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="questionText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="questionPhoto" class="control-label">Question Image</label>
                        <input asp-for="questionPhoto" type="file" class="form-control" />
                        <span asp-validation-for="questionPhoto" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="choiceA" class="control-label">Choice A</label>
                        <input asp-for="choiceA" class="form-control" />
                        <span asp-validation-for="choiceA" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="choiceB" class="control-label">Choice B</label>
                        <input asp-for="choiceB" class="form-control" />
                        <span asp-validation-for="choiceB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="choiceC" class="control-label">Choice C</label>
                        <input asp-for="choiceC" class="form-control" id="choiceCInput" />
                        <span asp-validation-for="choiceC" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="choiceD" class="control-label">Choice D</label>
                        <input asp-for="choiceD" class="form-control" id="choiceDInput" />
                        <span asp-validation-for="choiceD" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="correctAnswer" class="control-label">Correct Answer</label>
                            <input type="hidden" asp-for="correctAnswer" id="hiddenCorrectAnswer" />
                            <div class="dropdown custom-bootstrap-dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start"
                                        type="button"
                                        id="correctAnswerDropdownButton"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    -- Select Answer --
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="correctAnswerDropdownButton">
                                    <li><a class="dropdown-item subject-item" href="#" data-value="">-- Select Answer --</a></li>
                                    <li><hr class="dropdown-divider"></li>

                                    <li><a class="dropdown-item subject-item" href="#" data-value="A">A</a></li>
                                    <li><a class="dropdown-item subject-item" href="#" data-value="B">B</a></li>
                                    <li><a class="dropdown-item subject-item" href="#" data-value="C">C</a></li>
                                    <li><a class="dropdown-item subject-item" href="#" data-value="D">D</a></li>
                                </ul>
                            </div>
                            <span asp-validation-for="correctAnswer" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6 mb-2">
                <a asp-controller="cLesson" aria-label="button"
                   asp-action="Details"
                   asp-route-id="@ViewData["LessonID"]"
                   class="btn-cancel">Cancle</a>
            </div>
            <div class="col-md-6">
                <input type="submit" value="Save" class="btn-save" aria-label="button" />
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            const $choiceCInput = $('#choiceCInput');
            const $choiceDInput = $('#choiceDInput');
            const $hiddenCorrectAnswer = $('#hiddenCorrectAnswer');
            const $dropdownButton = $('#correctAnswerDropdownButton');
            const $dropdownMenu = $('#correctAnswerDropdownButton').next('.dropdown-menu');
            const $dropdownItems = $dropdownMenu.find('.dropdown-item');
            function updateCorrectAnswerOptions() {
                const choiceCValue = $choiceCInput.val().trim();
                const choiceDValue = $choiceDInput.val().trim();
                const $itemC = $dropdownItems.filter('[data-value="C"]');
                if (choiceCValue === '') {
                    $itemC.addClass('disabled');
                    if ($hiddenCorrectAnswer.val() === 'C') {
                        $hiddenCorrectAnswer.val('');
                        $dropdownButton.text('-- Select Answer --'); 
                    }
                } else {
                    $itemC.removeClass('disabled');
                }

                const $itemD = $dropdownItems.filter('[data-value="D"]');
                if (choiceDValue === '') {
                    $itemD.addClass('disabled');
                    if ($hiddenCorrectAnswer.val() === 'D') {
                        $hiddenCorrectAnswer.val('');
                        $dropdownButton.text('-- Select Answer --');
                    }
                } else {
                    $itemD.removeClass('disabled');
                }
            }

            $dropdownItems.on('click', function (e) {
                e.preventDefault(); 

                const $clickedItem = $(this);
                const selectedValue = $clickedItem.data('value');
                const selectedText = $clickedItem.text().trim();

                if ($clickedItem.hasClass('disabled')) {
                    return;
                }

                $hiddenCorrectAnswer.val(selectedValue);
                $dropdownButton.text(selectedText);
                $dropdownMenu.removeClass('show');
            });

            updateCorrectAnswerOptions();
            $choiceCInput.on('input', updateCorrectAnswerOptions);
            $choiceDInput.on('input', updateCorrectAnswerOptions);
            const initialAnswer = $hiddenCorrectAnswer.val();
            if (initialAnswer) {
                 const initialText = $dropdownItems.filter(`[data-value="${initialAnswer}"]`).text().trim();
                 if (initialText) {
                     $dropdownButton.text(initialText);
                 }
            }
        });
    </script>
}